section.about 
   .container 
     +blockBox("What we do", "Story about us", " Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique mollitia cumque expedita pariatur, ducimus ea dolor dolore porro qui minima earum officia est repellat doloribus incid")
     .about-list 
       .about-item
         img.about-image(src="../images/img-about1.png")
         .about-content 
           i.fa.fa-users.about-icon 
           span.about-title Super Team
       .about-item
         img.about-image(src="../images/img-about2.png")
         .about-content 
           i.fa.fa-heart.about-icon 
           span.about-title Super Team
       .about-item
         img.about-image(src="../images/img-about3.png")
         .about-content 
           i.fa.fa-home.about-icon 
           span.about-title Super Team
