section.quote 
    .container
         .quote-container 
            //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteItem()
            +quoteItem()
            +quoteItem()
            //- .quote-content
            //-     .quote-icon 
            //-         img(src="../images/img-quote.png")
            //-     .quote-info 
            //-         p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate recusandae ipsam facere, ullam maxime odit fugit atque dignissimos dolore nulla dolorem aut similique laboriosam, blanditiis sint facilis quo optio. Itaque.
            //-         span.quote-author Jon Doe
            //- .quote-content
            //-     .quote-icon 
            //-         img(src="../images/img-quote.png")
            //-     .quote-info 
            //-         p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate recusandae ipsam facere, ullam maxime odit fugit atque dignissimos dolore nulla dolorem aut similique laboriosam, blanditiis sint facilis quo optio. Itaque.
            //-         span.quote-author Jon Doe
            //- .quote-content
            //-     .quote-icon 
            //-         img(src="../images/img-quote.png")
            //-     .quote-info 
            //-         p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate recusandae ipsam facere, ullam maxime odit fugit atque dignissimos dolore nulla dolorem aut similique laboriosam, blanditiis sint facilis quo optio. Itaque.
            //-         span.quote-author Jon Doe
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow