section.work 
  .container 
    +blockBox("What we do", "Some of our work", "  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, ut incidunt quod esse nam suscipit id cupiditate ad? Nulla, porro fuga quis facere corporis aliquid ipsum delectus volupta")
  .work-grid 
    +workItem("../images/img-work1.png")
    +workItem("../images/img-work2.png")
    +workItem("../images/img-work3.png")
    +workItem("../images/img-work4.png")
    +workItem("../images/img-work5.png")
    +workItem("../images/img-work6.png")
    +workItem("../images/img-work7.png")
  //- .work-list 
  //-   .work-column 
  //-      +workItem
  //-      +workItem("../images/img-work2.png")
  //-   .work-column 
  //-      +workItem("../images/img-work3.png")
  //-      +workItem("../images/img-work4.png")
  //-   .work-column
  //-      +workItem("../images/img-work5.png", "fa fa-heart", "Super heart", "work-item-full")
  //-   .work-column 
  //-      +workItem("../images/img-work6.png")
  //-      +workItem("../images/img-work7.png")